<!DOCTYPE html>
<html>
<head>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script src="static/js/app.js"></script>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Pulsar streamed GitHub statistics</h1>
		<p>Answers to questions 1-4 below.</p>
	</div>
</div>
		
</div>

<div class="container" id="content">
		<div class="row">
				<h3>Top 10 programming languages:</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Programming language</th>
							<th>Total count</th>
						</tr>
					</thead>
					<tbody id="top10langtbody">
					</tbody>
				</table>
		</div>
		<div class="row">
				<h3>Top 10 programming languages with unit tests:</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Programming language</th>
							<th>Total count</th>
						</tr>
					</thead>
					<tbody id="top10unittesttbody">
					</tbody>
				</table>
		</div>
</div>


</body>
</html>